@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Aluno"]</p>

<address>Email:<strong>victor_marcantonio@hotmail.com</strong></address>
